@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');

body {
    background-color: #f6f6f0;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    margin: 0;
    padding: 0;
}

.background {
    background: #00796b;
    background-blend-mode: darken;
    background-size: cover;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    padding: 0rem 1rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.nav-list {
    padding: 10px;
    width: 60%;
    display: flex;
    align-items: center;
    overflow: auto;
}

.nav-list li, .nav-mobile-list li {
    list-style: none;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
}

.nav-list li div, .nav-mobile-list li div {
    text-decoration: none;
    color: white;
}

.nav-list li div:hover, .nav-mobile-list li div:hover {
    color: grey;
}

.rightNav {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: right;
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
    width: 70%;
}

.btn {
    box-sizing: content-box;
    padding: 8px;
    margin: 7px 0;
    border: 2px solid white;
    width: 100%;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .btn {
       width: 20%; 
    }
}

.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
}

.nav-mobile-list {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: sticky;
    background-color: #00796b;
    height: 0;
}

@media screen and (max-width:600px) {
   .nav-mobile-list {
       visibility: visible;
       height: auto;
       top:6.8em;
   } 
   #nav-list {
       visibility: hidden;
   }
}

.accountWidget {
    width: 20%;
    padding: 1.2rem;
    margin: 1.2rem;
    background-color: rgb(0, 150, 130);
    border-radius: 6px;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.mainContent {
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 50px;
}

.mainContent a {
    color: black;
    text-decoration: none;
}

.mainContent img:hover {
    cursor: pointer;
}

.saleItem {
    background: white;
    border-radius: 6px;
    text-align: center;
}

.saleItem:hover {
    box-shadow: 0 0 13px 0 gray;
}

.saleItem > img {
    height: 400px;
    width: 400px;
    border-radius: 6px;
}

.saleItem > p:nth-of-type(1) {
    font-size: 30px;
    margin-bottom: 2px;
}

.saleItem > p:nth-of-type(2) {
    font-size: 16px;
    font-weight: bold;
    margin-top: 3px;
}

.saleItem > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px 0px;
}

.saleItem > div > span:nth-of-type(1) {
    font-size: 25px;
}

.saleItem > div > span:nth-of-type(2) {
    font-size: 50px;
    margin: 0px 40px 0px 10px;
}

.saleItem  button {
    font-family: inherit;
    font-size: 20px;
    padding: 10px;
    border: 0px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

.saleItem button:hover {
    background-color: gray;
}

.cartItem {
    background: white;
    border-radius: 6px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cartItem:hover {
    box-shadow: 0 0 13px 0 gray;
}

.cartItem > img {
    height: 200px;
    width: 200px;
    border-radius: 6px;
}

.cartItem > div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0px 40px;
    text-align: left;
}

.cartItem > div:nth-of-type(1) > p:nth-of-type(1) {
    font-size: 50px;
    margin: 0px 0px 2px 0px;
}

.cartItem > div:nth-of-type(1) > p:nth-of-type(2) {
    font-size: 30px;
    font-weight: bold;
    margin: 3px 0px 0px 0px;
}

.cartItem > div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.cartItem > div:nth-of-type(2) > span:nth-of-type(1) {
    font-size: 40px;
    margin: 10px;
}

@media screen and (max-width: 600px) {
    .cartItem > div:nth-of-type(2) > span:nth-of-type(1) {
        font-size:30px;
    }
}

.cartItem > div:nth-of-type(2) > span:nth-of-type(2) {
    font-size: 80px;
    margin: 0px 20px 0px 20px;
}

.cartItem > div:nth-of-type(2) > button {
    font-family: inherit;
    font-size: 40px;
    padding: 10px;
    margin: 10px;
    border: 0px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

.cartItem button:hover {
    background-color: gray;
}

.categoryItem {
    background: white;
    border-radius: 6px;
    text-align: center;
}

.categoryItem:hover {
    box-shadow: 0 0 13px 0 gray;
}

.categoryItem > img {
    height: 400px;
    width: 400px;
    border-radius: 6px;
}

.categoryItem > p:nth-of-type(1) {
    font-size: 30px;
    margin-bottom: 2px;
}

.categoryItem > p:nth-of-type(2) {
    font-size: 16px;
    font-weight: bold;
    margin-top: 3px;
}

@media only screen  and (min-width: 600px) {
    .categoryItem {
        padding: 40px;
        margin: 40px;
    }
    .cartItem {
        padding: 20px;
        margin: 20px;
    }
    .saleItem {
        padding: 40px;
        margin: 40px;
    }
}

.buyBtn {
    float: right;
    background-color: #00796b;
    color: white;
    font-family: monospace;
    font-size: 1.2rem;
    border: none;
    padding: 0.8rem;
    transition: all 0.5s;
    margin-top: 0.8rem;
    cursor: pointer;
}

.buyBtn:hover {
    box-shadow: 0 0 20px 0 gray;
}

.aboutContent {
    text-align: center;
    margin: 50px 100px;
    font-size: 20px;
}

.aboutLogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.aboutCard {
    margin: 20px;
    width: 250px;
    font-size: 40px;
    background: white;
    border-radius: 10px;
}

.aboutCard > p:nth-of-type(1) {
    font-size: 160px;
    margin: 0px 0px 0px 0px;
}

/* .aboutCard > p:nth-of-type(2) {
} */

.signupForm {
    width: 50%;
    padding: 20px;
    /* background-color: white; */
    border-radius: 20px;
    /* box-shadow: 0 0 13px 0 gray; */
    font-size: 30px;
}

.signupForm legend {
    font-size: 50px;
    margin-bottom: 2rem;
}

.signupForm table {
    margin: 0 auto;
    width: 100%;
    text-align: left;
    table-layout: fixed;
}

.signupForm td:nth-of-type(1) {
    padding: 10px 40px;
}

.signupForm td:nth-of-type(2) {
    padding: 0px 25px;
}

.signupForm input, .signupForm textarea {
    width: 100%;
    font-size: 20px;
}

.signupForm button {
    font-family: inherit;
    font-size: 25px;
    padding: 10px;
    margin: 20px;
    border: 0px solid;
    border-radius: 5px;
    transition: all 0.5s;
}

.signupForm button:hover {
    background-color: gray;
}

.errorText > p:nth-of-type(1) {
    font-size: 50px;
}

.errorText > p:nth-of-type(2) {
    font-size: 30px;
}

footer {
    background: #212121;
    text-align: center;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
}

.footerTitle {
    font-size: 35px;
    color: white;
    margin-bottom: 2px;
}

.fSubTitle {
    font-size: 20px;
    margin-top:3px;
    color: white;
}

abbr {
    text-decoration: none;
}
